{% extends "base.html" %}
{% block title %}Tweet-List{% endblock title %}
{% load recommended %}
{% load static %}
{% block script %}
<script>
  $(document).ready(function(){
      loadTweetContainer(".tweet-container")
  })
</script>
{% endblock script %}
{% block content %}
  <div class=" container-fluid mt-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          {% if profile.profile_pic %}
            <img id="myImg" src="{{ profile.profile_pic.url }}" alt="Snow" style="width:100%;max-width:300px">
          {% endif %}
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>

          <h3><a href="#" style="color:black;">{{ request.user }}</a></h3>
          {% if profile.user.email %}
            <a href="#" style='color:grey;'>@{{ profile.user.email|cut:"@gmail.com" }}</a>
          {% endif %}
          <a class = 'siteLink' href="{{ profile.portfolio_site }}"><i class="fa fa-dribbble"></i></a>
        </div>
      </div>
      <div class="col-md-6">
        {% if not request.GET.q %}
        <div class="">
          {% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' form_class="tweet-form" %}
        </div>
        {% endif %}
        <br>
        <div class="tweet-container" data-url="api/tweets/list/">

        </div>
        <a class='btn btn-link' id='loadmore'href="">Load More</a><br>
      </div>

      <div class="col-md-2">
        <p class = "lead">Recommend user</p><hr>
        {% recommended request.user %}
      </div>

    </div>
  </div>
{% endblock content %}
