<style media="screen">
    .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }

  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
</style>
{% for profile in recomended %}
  <div class="chip">
  <a href="/accounts/detail/{{ profile.user.username }}/">{{ profile.user.username }}</a><br>
  </div>
{% empty %}
  <p class = "lead">No user for recommed</p>
{% endfor %}
